extends layout

block content
  #calendar
    .content.container
      .main
        #calendar-container
      #detail.desc
        div.wrapper(data-name="event1")
          h2#detail-title 新竹市官網黑客松
          img#detail-thumb(src="", style="width: 100%; display:none;")
          p#detail-body 新竹市為全台科技城市先驅，為創新數位城市發展，將以市府官網為主軸，透過〈2015新竹官網黑客松Hack Hsinchu〉活動方式，舉辦「新竹官方全球資訊網站設計競賽」，從中挖掘優秀創意與人才，優化市府官網使用者體驗，結合Open Data資源應用，達成快速蒐集市府官網創新雛形及意見的目的，激發新竹市創新能量。
          p
            | 連結：
            a#detail-url(href="http://2015hackhsinchucity.punnode.com/", target="_BLANK", style="margin-left: 5px;") http://2015hackhsinchucity.punnode.com/
      .events
        .row
          .col-md-4
            img(src="images/ac_1.jpg")
          .col-md-4
            img(src="images/ac_2.jpg")
          .col-md-4
            img(src="images/ac_3.jpg")
      .boxes
        .row
          .col-md-4
            img(src="images/box_1.jpg")
          .col-md-4
            img(src="images/box_2.jpg")
          .col-md-4
            img(src="images/box_3.jpg")
        .row
          .col-md-4
            img(src="images/box_4.jpg")
          .col-md-4
            img(src="images/box_5.jpg")
          .col-md-4
            img(src="images/box_6.jpg")
block scripts
  script(src="js/calendar.js")
  script(src="js/calendar-client.js")
