// footer
footer.footer
  .row
    .col-sm-1.col-md-2
    .col-sm-10.col-md-8.block
        .row
            .col-md-4
              p Copyleft 2015
              p Privacy
              p 1999 服務專線
              p 24 小時全年無休

            .col-md-5
              p 地址 | 30051 新竹市中正路 120 號
                img(src="images/icon_map.png", style="width:16px;margin-bottom: 12px; margin-left: 5px;")
              p 總機 | 03-5216121 各處分機號碼
              p 服務時間 | 週一至週五 8:00 ~ 12:00, 13:00 ~ 17:00
            .col-md-3
              a(target="_BLANK", href="https://www.facebook.com/hsinchunew")
                i.fa.fa-facebook-square
              a(href="")
                i.fa.fa-whatsapp
    .col-sm-1.col-md-2
