extends layout

block content
  #index
    .content.container
      .wrapper
        #weather
        main
          .news
            .hero-unit
              figure
                img(src="images/1448609123711pic1.jpg")
                figcaption
                  |金山社區日間托老、共餐食堂開幕林智堅市長:落實長者照顧 友善服務到社區
              section
                .text
                  p 因應高齡化社會來臨，新竹市政府積極推動「在地老化、就近照顧」的老人福利政策，市長林智堅上任後新增關東、三民2個社區照顧懷據點，目前達31處，並新設4個長青共餐食堂，今(27)日新竹市第二個日間托老服務中心，於金山社區關懷據點舉行開幕儀式，並設置長青樂活健康食堂，林智堅市長表示，希望將照顧長者的服務社區化，讓長輩在最熟悉的環境，得到最友善的照顧服務。
                  p 新竹市政府繼去(103)年12月26日於香山區海山社區照顧關懷據點成立第一處日間托老服務據點後，今（104）年積極爭取到中央核准兩個日間托老服務據點的補助，新竹市成為全台灣各縣市首先達到各個行政區都有日間托老的城市，其中北區的福祿壽長青協會日間托老服務據點將於12月開幕，東區金山社區日間托老服務暨長青樂活健康食堂聯合據點，上午舉行揭牌儀式，林智堅...
                .link
                  a [更多內容]
          .services
            .col-md-6
              .quick-service
                .title 市民快速服務 1999
                a.stack(href="/sos.html")
                  |需要投訴
                  i.fa.fa-caret-down.pull-right
                a.stack(href="/sos.html")
                  |申請文件
                  i.fa.fa-caret-down.pull-right
                a.stack(href="/sos.html")
                  |尋找管道
                  i.fa.fa-caret-down.pull-right
                a.stack(href="/sos.html")
                  |繳納規費
                  i.fa.fa-caret-down.pull-right
            .col-md-3.middle
              .service.service-yellow
                a(href="https://www.facebook.com/taiwango0527", target="_blank")
                  span.icon
                    img(src="images/icon_fb_man.png")
                  span.title 市長的臉書
                  span.right-arrow
                    img(src="images/icon_right.png")
              .service
                a(href="http://ihsinchu.hccg.gov.tw/", target="_blank")
                  span.icon
                    img(src="images/icon_wifi.png")
                  span.title i-Hsinchu Wifi
                  span.right-arrow
                    img(src="images/icon_right.png")
              .service.service-yellow
                a(href="https://e-services.hccg.gov.tw/", target="_blank")
                  span.icon
                    img(src="images/icon_e.png")
                  span.title 民眾申請e好辦
                  span.right-arrow
                    img(src="images/icon_right.png")
            .col-md-3.last
              .service
                a(href="http://citycard.hccg.gov.tw/", target="_blank")
                  span.icon
                    img(src="images/icon_card.png")
                  span.title 市民主題網
                  span.right-arrow
                    img(src="images/icon_right.png")
              .service.service-yellow
                a(href="http://tourism.hccg.org.tw/", target="_blank")
                  span.icon
                    img(src="images/icon_travel.png")
                  span.title 觀光旅遊網
                  span.right-arrow
                    img(src="images/icon_right.png")
              .service
                a(href="http://join.gov.tw/openup/acts/detail/df6145bf-3c1c-4cce-9265-69e716561ca8", target="_blank")
                  span.icon
                    img(src="images/icon_public.png")
                  span.title 公共政策網
                  span.right-arrow
                    img(src="images/icon_right.png")
          #calendar-container
          .opendata
            #map
            ul#marker-list

block scripts
  script(src="js/weather.js")
  script(src="js/calendar.js")
  script(src="js/map.js")
