extends layout

block content
  .container
    .weather
      .message
        |現在是
        span.green 104
        | 年
        span.green 11
        | 月
        span.green 20
        | 日
        span.green 12:00 a.m.
        | 本日天氣
        span.green 27
        | 降雨機率
        span.green 0%
    main
      .hero-unit
        .left-panel
          img(src="http://www.hccg.gov.tw/_file/1852/NEWS/1448609123711pic1.jpg")
        .right-panel
          |hhahahahahahahah
      .thumbs

