extends layout

block content
  .wrapper
    .weather
      .message
        |現在是
        span.green 104
        | 年
        span.green 11
        | 月
        span.green 20
        | 日
        span.green 12:00 a.m.
        | 本日天氣
        span.green 27
        | 降雨機率
        span.green 0%
    main
      .news
        .hero-unit
          .left-panel
            img(src="images/1448609123711pic1.jpg")
          .right-panel
            |hhahahahahahahah
        .thumbs
      .services
        | this is service block
      .calendar
        | this is calendar block
      .opendata
        | this is opendata block
