doctype html
html(lang="en")
  head
    link(title="Dublin Core", href="http://www.gov.tw/schema/dc/", rel="govtwsimpledc.xsd")
    meta(name="DC.Title", content="歡迎光臨新竹市政府全球資訊網")
    meta(name="DC.Creator", content="新竹市政府")
    meta(name="DC.Subject", content="歡迎光臨新竹市政府全球資訊網")
    meta(name="DC.Description", content="新竹市政府")
    meta(name="DC.Contributor", content="新竹市政")
    meta(name="DC.Type", content="text/html")
    meta(name="DC.Format", content="text/html")
    meta(name="DC.Source", content="新竹市政府")
    meta(name="DC.Language", content="中文")
    meta(name="DC.coverage.t.min", content="2006-01-01")
    meta(name="DC.coverage.t.max", content="2012-12-31")
    meta(name="DC.Publisher", content="新竹市政府 ")
    meta(name="DC.Date", content="2015-11-29")
    meta(name="DC.Identifier", content="376580000A")
    meta(name="DC.Relation", content="GIP-EY-MP01")
    meta(name="DC.Rights", content="新竹市政府版權所有")
    meta(name="Category.Theme", content="920")
    meta(name="Category.Service", content="I61")
    meta(name="Category.Cake", content="E00")
    meta(name="keywords", content="新竹市政府")
    meta(name="searchtitle", content="新竹市政府...")
    meta(name="description", content="../user/org-info/mem-about...")
    meta(name='viewport', content='initial-scale=1,maximum-scale=1,user-scalable=no')
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    title 歡迎光臨新竹市政府全球資訊網
    link(rel='stylesheet', href='/styles/main.css')
    link(href="https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.css", rel="stylesheet")
    script(src="js/jquery.js")
    script(src="js/dropdown.js")
    script(src="js/custom.js")
  body
    include nav
    block content
    block scripts
    include footer
