doctype html
html(lang="en")
  head
    title Hello Static Page
    link(rel='stylesheet', href='/styles/main.css')
  body
    include nav
    .content.container
      block content
    include footer

