extends layout

block content
  #maps
    .content.container
      .main
        .mapcontainer
          .opendata
            #map
            ul#marker-list

block scripts
  script(src="https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.js")
  script(src="js/map.js")
