// Navbar

nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
  .container
    .logo
      a.navbar-logo.navbar-brand(href='/#')
        img(alt='', src='images/logo.gif')
    .navbar-header
      button.navbar-toggle
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(href='/calendar.html') 活動月曆
        li
          a(href='/intro.html') 市府介紹
        li
          a(href='/maps.html') 風城地圖
        li
          a(href='/links.html') 各站連結
        li
          a(href='/sos.html') 1999
        li.search
          form(action="http://search.hccg.gov.tw/cgi-bin/search/query.cgi", method="get", target="new")
            input(name="dbs" value="www-hccg" type="hidden")
            input(name="uilang" value="" type="hidden")
            input#searchInput(placeholder="搜尋", name="q")
            span.icon
              i.fa.fa-search
// Navbar End
