extends layout

block content
  #sos
    .content.container
      .slogan 需要幫忙嗎？
      .guide.row
        .col-md-3
          .dropdown
            button.btn(data-toggle="dropdown")
              | 需要投訴
              i.fa.fa-caret-down.pull-right
            ul.dropdown-menu
              li
                a(data-target="item1") 檢舉交通違規
              li
                a(data-target="item2") 檢舉噪音
          .dropdown
            button.btn(data-toggle="dropdown")
              | 申請文件
              i.fa.fa-caret-down.pull-right
            ul.dropdown-menu
              li
                a(data-target="item3") 役男延役
              li
                a(data-target="item4") 住宅補貼
          .dropdown
            button.btn(data-toggle="dropdown")
              | 申請報修
              i.fa.fa-caret-down.pull-right
            ul.dropdown-menu
              li
                a(data-target="item5") 路燈報修
              li
                a(data-target="item6") 道路報修
          .dropdown
            button.btn(data-toggle="dropdown")
              | 繳納規費
              i.fa.fa-caret-down.pull-right
            ul.dropdown-menu(aria-labelledby="menu4")
              li
                a(data-target="item7") 繳交停車費
              li
                a(data-target="item8") 繳交罰緩
        .col-md-9
          .faq
            #answer.answer(style="display:none; opacity: 0; left: -30%")
              div#close
                i.fa.fa-times
              .table(style="display:none", data-name="item1")
                table
                  tbody
                    tr
                      td.symbol Q
                      td.desc 檢舉交通違規
                table
                  tbody
                    tr
                      td.symbol A
                      td.desc
                        | 戰略制定了以後，必須先去了解市場和客戶的需求，一個創業者最重要的，你的夢想是世界上最偉大的事情
              .table(style="display:none", data-name="item2")
                table
                  tbody
                    tr
                      td.symbol Q
                      td.desc 檢舉噪音
                table
                  tbody
                    tr
                      td.symbol A
                      td.desc
                        | 做精做透很重要，三流的執行，不管你擁有多少資源，包括你請來MBA，每一筆生意必須掙錢
              .table(style="display:none", data-name="item3")
                table
                  tbody
                    tr
                      td.symbol Q
                      td.desc 役男延役
                table
                  tbody
                  tr
                    td.symbol A
                    td.desc
                      | 是什麼意思並不重要，因為它們全是自動產生出來的。
              .table(style="display:none", data-name="item4")
                table
                  tbody
                    tr
                      td.symbol Q
                      td.desc 住宅補貼
                table
                  tbody
                    tr
                      td.symbol A
                      td.desc
                        | 在更新完近況後，你不應該告訴我這個故事。ㄟ那就結婚吧我沒有妳會死，前世的五百次回眸
              .table(style="display:none", data-name="item5")
                table
                  tbody
                    tr
                      td.symbol Q
                      td.desc 路燈報修
                table
                  tbody
                    tr
                      td.symbol A
                      td.desc
                        | 路平燈亮水溝通並不是那麼容易就能做的。為什麼不能多一點自動化的檢查呢？
              .table(style="display:none", data-name="item6")
                table
                  tbody
                    tr
                      td.symbol Q
                      td.desc 道路報修
                table
                  tbody
                    tr
                      td.symbol A
                      td.desc
                        | 台灣不用開這麼多路啦，推行大眾交通工具卡實在。日本都做得到，真是讓人羨慕。
              .table(style="display:none", data-name="item7")
                table
                  tbody
                    tr
                      td.symbol Q
                      td.desc 繳交停車費
                table
                  tbody
                    tr
                      td.symbol A
                      td.desc
                        | 什麼都別說了，照顧你生命中的每一天，你是世界上最幸福的人，但我可以肯定地告訴你，我誰都不要
              .table(style="display:none", data-name="item8")
                table
                  tbody
                    tr
                      td.symbol Q
                      td.desc 繳交罰緩
                table
                  tbody
                    tr
                      td.symbol A
                      td.desc
                        | 你不應該告訴我這個故事。ㄟ那就結婚吧我沒有妳會死，前世的五百次回眸，在我消失在這個世界之前
            div.def
              h3 常見問題
                i.fa.fa-lightbulb-o(style="margin-left: 5px")
              ul
                li
                  a(href="") 調解行政：請問新竹市免費法律諮詢的時間、聯絡電話？
                li
                  a(href="") 新竹市衛生局 104 年度「高齡友善固齒整合照顧計畫」 QA 問答集
                li
                  a(href="") 新竹市復康巴士訂車方法

      .tabs.row
        ul.nav.nav-tabs.nav-justified
          li(data-name="tab1", role="presentation")
            a(data-target="tab1") 服務說明
          li(data-name="tab2", role="presentation")
            a(data-target="tab2") 民意信箱
          li(data-name="tab3", role="presentation")
            a(data-target="tab3") 1999 網路電話
        .tab-content(data-name="tab1")
          p
            img(src="images/info_1.png")
        .tab-content(data-name="tab2")
          p
            ul
              li 為提供市民便捷的市政建議管道、提昇為民服務品質，特提供本信箱，歡迎多加使用。 請針對市政建設興革踴躍建言，陳情或諮詢事項亦可，與市政建設無關之謾罵、惡意攻訐、情緒批評…等，本府將逕予刪除。 
              li 為確保您的電子信箱未遭他人冒用，確實可收到本府回信，請您務必點選系統自動寄送之「確認信」，完成確認後，我們將儘速依序處理您的來信。未經您確認的信件，本府將不予受理。
              li 本府各相關單位於上班時段均由專人受理您的建言，處理期限以三天（扣除例假日）為原則，並由管考單位負責列管至單位回覆為止。單位回覆時，本信箱將自動以您投書留存之電子郵件帳號回信給您，您也可以隨時上網查詢案件處理情形，查詢時請輸入投書時電子郵件位址及系統mail給您的案號即可，並可就本府處理情形填寫滿意度問卷調查。
              li 由於系統限制及資訊安全考量，本信箱至多提供1000個中文字內容輸入及1個小於3M的圖檔上傳，如無法於本信箱投書，請利用本府服務中心所提供之申訴管道或撥打本府1999服務專線(24小時服務 全年無休)。
        .tab-content(data-name="tab3")
          p
            ul
              li 來電方式與計費方式
              li 手機 每分鐘最高3.6元 （依各電信業者行動費率計收）
              li 市話 按一般市話費率計算
              li Web call 免收費
            ol
              li 可於Windows 2000 SP4、Windows XP、Windows Vista及Windows 7作業系統的32 位元版本的IE瀏覽器（6.0 以上之版本）使用；其他作業系統及瀏覽器版本尚未支援。
              li 電腦要有麥克風才能讓對方聽到您的聲音，而有喇叭（或耳機）您才可以聽到對方的聲音。
              li 用戶使用網頁電話無須負擔任何通話費用。
              li 通話中若關閉瀏覽器，會導致通話中斷。
              li 請勿同時開啟兩個網頁電話頁面，否則將導致聲音單向通話。
              li 用戶若是在有防火牆( Firewall、Proxy)設備的環境底下可能無法使用。
              li ActiveX元件安裝：若為第一次撥打，當出現http://www.essti.com/upload/activex.JPG圖示時請選擇同意安裝，本元件已獲微軟認證，可安心使用。
              li 網頁電話是利用電腦當媒介，透過網際網路通訊，因此其通話品質會因用戶端環境及頻寬的不同而有所差異，可能與一般電話品質不同。


      .links.row
          .item.col-sm-4.col-xs-6
            .linktext
              | 公共政策網
          .item.col-sm-4.col-xs-6
            .linktext.facebook
              i.fa.fa-facebook
          .item.col-sm-4.col-xs-6
            .linktext
              | 市民卡主題網
          .item.col-sm-4.col-xs-6
            .linktext
              | 民眾申請 e 好辦
          .item.col-sm-4.col-xs-6
            .linktext
              | 免費 WiFi
          .item.col-sm-4.col-xs-6
            .linktext
              | 觀光旅遊網

