extends layout

block content
  #sos
    .content.container
      .slogan 需要幫忙嗎？
      .guide.row
        .col-md-3
          .dropdown
            button.btn(data-toggle="dropdown")
              | 需要投訴
              i.fa.fa-caret-down.pull-right
            ul.dropdown-menu
              li
                a(data-target="item1") 檢舉交通違規
              li
                a(data-target="item2") 檢舉噪音
          .dropdown
            button.btn(data-toggle="dropdown")
              | 申請文件
              i.fa.fa-caret-down.pull-right
            ul.dropdown-menu
              li
                a(data-target="item3") 役男延役
              li
                a(data-target="item4") 住宅補貼
          .dropdown
            button.btn(data-toggle="dropdown")
              | 申請報修
              i.fa.fa-caret-down.pull-right
            ul.dropdown-menu
              li
                a(data-target="item5") 路燈報修
              li
                a(data-target="item6") 道路報修
          .dropdown
            button.btn(data-toggle="dropdown")
              | 繳納規費
              i.fa.fa-caret-down.pull-right
            ul.dropdown-menu(aria-labelledby="menu4")
              li
                a(data-target="item7") 繳交停車費
              li
                a(data-target="item8") 繳交罰緩
        .col-md-9
          .faq
            #answer.answer(style="display:none; opacity: 0; left: -30%")
              div#close
                i.fa.fa-times
              .table(style="display:none", data-name="item1")
                table
                  tbody
                    tr
                      td.symbol Q
                      td.desc 檢舉交通違規
                table
                  tbody
                    tr
                      td.symbol A
                      td.desc
                        p 為提供、整合民眾便捷的交通違規檢舉管道、有效管考案件處理情形、提升為民服務品質，特於本局網站增設「線上檢舉交通違規專區」，歡迎多加使用
                        p 如您未申請或不同意留下電子郵件信箱地址，請下載「親自或書面郵寄檢舉表格（DOC 檔） （PDF 檔）」，填妥各欄資料後，檢具違規證據資料（光碟片），親送或郵寄至 30044 新竹市北區北大路 218 號 3 樓（新竹市交通警察隊）即可，經本局交通權責單位檢視及審核無訛後，處理結果將以電話或簡訊方式告知（為符合政府節能減紙政策，將不寄送書面答覆書函）。
              .table(style="display:none", data-name="item2")
                table
                  tbody
                    tr
                      td.symbol Q
                      td.desc 檢舉噪音
                table
                  tbody
                    tr
                      td.symbol A
                      td.desc
                        p 可以向新竹市環保局檢舉
                        p 市民如發現營建工程施工有噪音及空氣污染之情形發生，可撥打免費公害陳情專線 0800-066-666 或新竹市環境保護局 03-536-8920 檢舉，共同維護新竹市生活品質。
              .table(style="display:none", data-name="item3")
                table
                  tbody
                    tr
                      td.symbol Q
                      td.desc 役男延役
                table
                  tbody
                  tr
                    td.symbol A
                    td.desc
                      | 所謂役男係指19歲至36歲尚未服完兵役之男子，依據「役男入出境處理辦法」第四條規定，役男得申請出國觀光，核准期限為4個月。役男可持身分證、印章及護照至戶籍地區公所民政課申請（可跨縣市公所異地受理），若役男未滿20歲申請出境，其申請書須經父母一方或監護人簽章，但如該役男申請期間須辦理體檢時，則該役男必須在體檢完成後方可出境。
              .table(style="display:none", data-name="item4")
                table
                  tbody
                    tr
                      td.symbol Q
                      td.desc 住宅補貼
                table
                  tbody
                    tr
                      td.symbol A
                      td.desc
                        ol
                          li 受理補貼申請時間：每年以內政部營建署公告為準。
                          li 受理補貼項目：
                            ol
                              li 租金補貼：每戶每月最高3,600元。
                              li 購置住宅貸款利息補貼：優惠貸款額度最高220萬元。
                              li 修繕住宅貸款利息補貼：優惠貸款額度最高80萬元
                          li 申請資格及條件：請至內政部營建署網站內之住宅E化網
              .table(style="display:none", data-name="item5")
                table
                  tbody
                    tr
                      td.symbol Q
                      td.desc 路燈報修
                table
                  tbody
                    tr
                      td.symbol A
                      td.desc
                        | 民眾可透過路燈維護專線電話03-5736251~2或1999服務專線通報，若於下班5時後可撥打路燈道路維修通報專線0800-810810。
              .table(style="display:none", data-name="item6")
                table
                  tbody
                    tr
                      td.symbol Q
                      td.desc 道路報修
                table
                  tbody
                    tr
                      td.symbol A
                      td.desc
                        | 發現道路不平或坑洞，請撥打0800-810810通報專線，本府將儘速派員前往處理。
              .table(style="display:none", data-name="item7")
                table
                  tbody
                    tr
                      td.symbol Q
                      td.desc 繳交停車費
                table
                  tbody
                    tr
                      td.symbol A
                      td.desc
                        | 如通知單遺失請儘速於停車日起十五天內至新竹市政府交通處 ( 停車場管理科 ) 繳納 , 以免逾期受罰 , 繳費時間平日 08:00~20:30 (96年12月1日起 , 例假日繳費時間為08:00~17:00)
              .table(style="display:none", data-name="item8")
                table
                  tbody
                    tr
                      td.symbol Q
                      td.desc 繳交罰緩
                table
                  tbody
                    tr
                      td.symbol A
                      td.desc
                        | 這實在是太棒了：交通違規紀錄不會即時更新，需待8-14天後，才可於線上查詢到。
            div.def
              h3 常見問題
                i.fa.fa-lightbulb-o(style="margin-left: 5px")
              ul
                li
                  a(href="") 調解行政：請問新竹市免費法律諮詢的時間、聯絡電話？
                li
                  a(href="") 新竹市衛生局 104 年度「高齡友善固齒整合照顧計畫」 QA 問答集
                li
                  a(href="") 新竹市復康巴士訂車方法

      .tabs.row
        ul.nav.nav-tabs.nav-justified
          li(data-name="tab1", role="presentation")
            a(data-target="tab1") 服務說明
          li(data-name="tab2", role="presentation")
            a(data-target="tab2") 民意信箱
          li(data-name="tab3", role="presentation")
            a(data-target="tab3") 1999 網路電話
        .tab-content(data-name="tab1")
          p
            img(src="images/info_1.png")
        .tab-content(data-name="tab2")
          p
            img(src="images/info_2.png")
        .tab-content(data-name="tab3")
          p
            img(src="images/info_3.png")
      .links.row
          .item.col-sm-4.col-xs-6
            .linktext
              | 公共政策網
          .item.col-sm-4.col-xs-6
            .linktext.facebook
              i.fa.fa-facebook
          .item.col-sm-4.col-xs-6
            .linktext
              | 市民卡主題網
          .item.col-sm-4.col-xs-6
            .linktext
              | 民眾申請 e 好辦
          .item.col-sm-4.col-xs-6
            .linktext
              | 免費 WiFi
          .item.col-sm-4.col-xs-6
            .linktext
              | 觀光旅遊網

